body {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.25rem;
    color: #424257;
    background-color: rgb(226, 226, 226);
}

.grid-container {
    max-width: 35rem;
}

.title {
    font-family: 'Tilt Warp', cursive;
    font-size: 3rem;
}

.game-status {
    font-weight: 700;
}

.buttons {
    font-size: 1.25rem;
}

.reset {
    background-color: #6070ce;
    color: white;
}

.reset:hover {
    background-color: #414C8D;
    color: white;
}

.word-stage {
    font-size: 3rem;
    background-color: #F2EAE1;
    border: 3px solid #424257;
    border-radius: 5px;
}

.abc-btns {
    background-color: #414C8D;
    color: white;
    width: 4rem;
}

.abc-btns:hover {
    background-color: #343d72;
    color: white;
}

/* ------------- */
/* Media Queries */
/* ------------- */
@media screen and (max-width: 400px) {
    body {
        font-size: 1rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .game-status {
        font-size: 1.25rem;
    }

    .word-stage {
        font-size: 2.5rem;
    }

    .buttons {
        font-size: 1rem;
    }
}