/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.word-stage {
    margin: 1rem 0;
}

.paragraph-element {
    font-size: 4rem;
}

.abc-btns {
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.reset {
    margin-top: 1rem;
    padding: 0.5rem;
} */

body {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.25rem;
}

.grid-container {
    max-width: 35rem;
}

.title {
    font-family: 'Tilt Warp', cursive;
    font-size: 3rem;
}

.buttons {
    font-size: 1.25rem;
}

.word-stage {
    font-size: 3rem;
}

/* .abc-buttons {
    // enter styles here
} */